.border {
    background-color: black;
}

.notesRow {
    background-color: aqua;
}

body {
    background-color: lightgray;
    /* background-image: url("https://media4.giphy.com/media/wA5piR2jCt8VuFEkal/200.gif"); */
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    grid-template-rows: 450px;
    grid-gap: 10px;
}

.outer {
    height: 550px;
    width: 450px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.smallHeader {
    max-width: 950px;
    background-color: aliceblue;
    height: 1em;
    font-size: 2em;
    display: flex;
    justify-self: center;
    align-items: center;

}

.header {
    background-color: aliceblue;
    height: 1em;
    font-size: 4em;
    text-align: center;
}

.middle {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: auto;
    font-size: 2em;
}

#buttonGrid {
    justify-self: center;
}

.button,
#b1,
#b2,
#b3,
#b4 {
    width: 300px;
    height: 150px;
    border-radius: 8px;
    transition: background-color .5s;
    margin-bottom: 20px;
}

main {
    background-color: white;
    padding: 32px 72px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    max-width: 800px;
}

img,
video {
    display: flex;
    justify-self: center;
    max-width: 500px;
}

video {
    align-self: center;
}

#img1,
#img2,
#img3,
#img4 {
    display: none;
}

#lockedImg1,
#lockedImg2,
#lockedImg3,
#lockedImg4 {
    width: 400px;
}

#lockedText1,
#lockedText2,
#lockedText3,
#lockedText4 {
    font-size: 1.5em;
    text-align: center;
}