.border {
    background-color: black;
}

.notesRow {
    background-color: aqua;
}

body {
    background-color: lightgray;
}

.outer {
    height: 450px;
    width: 450px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: aliceblue;
    height: 1em;
    font-size: 4em;
}

.middle {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: auto;
}

.button {
    width: 355px;
    height: 270px;
    background-color: rgb(128,128,128);
    border-radius: 8px;
    padding: 10px;
    transition: background-color 2s;

}

main {
    background-color: white;
    padding: 32px 72px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}
